body {
  background: linear-gradient(120deg, #ffede3 0%, #ffe7be 100%);
  margin: 0;
  min-height: 100vh;
  font-family: "Nunito", Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.fox-anim {
  margin-bottom: -2rem;
  user-select: none;
}

form.login-form {
  background: #fff;
  padding: 34px 24px 26px 24px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0 8px 36px #e2793440;
  width: 100%;
  max-width: 355px;
}

input {
  font-size: 1.1rem;
  padding: 11px 16px;
  border: 2px solid #efb97c;
  border-radius: 10px;
  transition: border .16s;
  outline: none;
}
input:focus {
  border: 2px solid #E27934;
}

button {
  font-size: 1.1rem;
  background: #e27934;
  color: #fff;
  border: 0;
  padding: 12px 0;
  border-radius: 9px;
  font-weight: bold;
  cursor: pointer;
  transition: background .18s;
}
button:hover {
  background: #cd660f;
}

@media (max-width: 500px) {
  .fox-anim svg {
    width: 99vw;
    height: auto;
  }
  form.login-form {
    max-width: 99vw;
  }
}
